body{
  margin: 0;
  padding: 0;
}

.background{
  background-image: linear-gradient(
  150deg,
  hsl(227deg 63% 57%) 0%,
  hsl(294deg 78% 39%) 100%
  );
  background-repeat:no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.site-title{
  top: 0;
  padding: 30px 20% 30px 0;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-family: "Arial";
  font-size: 50px;
}

.transparent-card{
  color: white;
  width: 60%;
  min-width: 480px;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 20px;
  overflow: hidden;
}

.navbar{
  display: flex;
  list-style-type: none;
}

.navbar>li{
  padding:15px 30px 15px 30px;
}

.navbar>li:hover{
  background-color: rgba(0,0,0,.8);
}

.text-content{
  line-height: 200%;
  word-wrap: break-word;
  word-break: normal;
  padding: 50px 60px 50px 60px;
  font-size: 20px;
}

.logo-href>img{
  height:60px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 30px;
  width: auto;
  justify-content: center;
  background-color:hsl(210,8%,15%);
  /* overflow:hidden; */
}

.footer p{
  font-size:24px;
  color:gray;
}